:root{
    /** Colors **/
    --very-light-pink: #535353;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;

    /** Font Size **/
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    /** Font Weight **/
    --light: 300;
    --regular: 500;
    --bold: 700;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}