:root{
    /** Colors **/
    --very-light-pink: #535353;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;

    /** Font Size **/
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    /** Font Weight **/
    --light: 300;
    --regular: 500;
    --bold: 700;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
}
.logo {
    width: 15rem;
    margin-bottom: 4.8rem;
    justify-self: center;
    display: none;
}
@media(max-width: 640px){
    .logo{
        display: block;
    }
}
.title{
    font-size: var(--lg);
    margin-bottom: 1.2rem;
    text-align: center;
}
.title-izq{
    text-align: left;
    margin-bottom: 1.6rem;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: var(--light);
    margin-top: 0;
    margin-bottom: 3.2rem;
    text-align: center;
}
.label{
    font-size: var(--sm);
    font-weight: var(--bold);
    margin-bottom: 0.4rem;
}
.text-simple{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 0.8rem 0 3.2rem 0;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 0.8rem;
    height: 3rem;
    font-size: var(--md);
    padding: 0.6rem;
    margin-bottom: 1.6rem;
}
.form{
    display: flex;
    flex-direction: column;
}
.primary-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 0.8rem;
    color: var(--white);
    width: 100%;
    height: 5rem;
    cursor: pointer;
    font-size: var(--md);
    font-weight: var(--bold);
}
.secondary-button{
    background-color: var(--white);
    border: solid 0.1rem var(--hospital-green);
    border-radius: 0.8rem;
    color: var(--hospital-green);
    width: 100%;
    height: 5rem;
    cursor: pointer;
    font-size: var(--md);
    font-weight: var(--bold);
}
.login-button{
    margin-top: 2.2rem;
    margin-bottom: 3rem;
}
.signup-button{
    margin-top: 3.6rem;
}
@media(max-width: 640px){
    .signup-button{
        position: absolute;
        bottom: 0;
        margin-bottom: 2.2rem;
        width: 30rem;
    }
}
.email-image{
    width: 13.2rem;
    height: 13.2rem;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
}
.email-image img{
    width: 8rem;
}
.center{
    justify-items: center;
}

.resend{
    text-align: center;
    font-size: var(--sm);
}
.resend span{
    color: var(--very-light-pink);
}
.resend a{
    text-decoration: none;
    color: var(--hospital-green);
}
